@import url(https://fonts.googleapis.com/css?family=Khula:700);
@font-face {
  font-family: eightBit;
  src: url(../src/assets/fonts/PixeloidSans-mLxMm.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: none;
}
:root {
  --primary-color: rgb(200, 100, 100);
  --primary-blue: #0000ff;
}

/* MENUS */
Nav {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: row;
  height: 70px;
  border-bottom: rgba(0, 0, 0, 0.13) 3px solid;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  z-index: 999;
}
.nav-container {
  justify-items: center;
  height: inherit;
  display: flex;
  flex-direction: column;
  margin-top: 1.5%;
  position: relative;
}
#more-container::after {
  content: "HOLA BONJOUR";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 25px;
  width: 50px;
  background-color: #f8f3f3;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
#more-container:hover::after {
  opacity: 1;
  transform: translateY(-5px);
}

.menu-img {
  width: auto;
  height: 100%;
}
.user-icon {
  height: 40%;
  align-self: center;
}
.nav-text:hover {
  text-decoration: underline var(--primary-color) dotted;
}

/* GENERAL */
body {
  font-family: eightBit;
  font-size: 1em;
}
.hidden {
  opacity: 0;
}
/* INTRO */
.console-container {
  font-size: 4em;
  text-align: center;
  height: 40vh;
  width: 60vw;
  display: block;
  position: absolute;
  color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
/* CREATOR CARDS */
.creator-icons {
  display: flex;
  justify-content: space-around;
}

.creator-box {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.creator-box img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.cards-container {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  width: 100vw;
  margin: 15px;
  grid-template-rows: 1fr;
  align-items: stretch;
}
.cards-container .nes-container {
  height: inherit;
}

.nes-container .nes-icon {
  margin-top: 10px;
  margin-bottom: 40px;
}

/* HOME */
.intro-container {
  display: flex;
  flex-direction: column;
  justify-items: center;

  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 300px;
  overflow: hidden;
  margin-bottom: 5%;
}

.background-image {
  background-image: url("https://assets1.ignimgs.com/2014/03/17/htm-hornbach-13s-previewpng-e319d0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 150%;

  width: 100%;
  position: absolute;
  z-index: -1;
}
.intro-text {
  margin-top: 4%;
  font-size: 40px;
  -webkit-text-stroke: 0.25px rgb(255, 255, 255);
  text-align: center;
}
.intro-text h1,
h2 {
  display: inline;
  background-color: rgba(240, 248, 255, 0.507);
  border: 1px solid black;
}
.is-centered {
  width: 70%;
  margin: auto auto;
}
.is-centered ul {
  justify-items: left;
}
.is-centered ul li {
  margin: 5px;
}
.presentation-bulletpoints {
  text-align: left;
  margin-left: 50px;
}

/* ACCOUNTS */
.accounts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.avatar {
  width: 15%;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* HOME*/
.overview-container {
  margin: 15px;
  width: 100%;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
.card {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}
.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}
.card-text h3 {
  margin-bottom: 10px;
}
